In [5]:
import pandas as pd
import numpy as np
import math

compare_csv = pd.read_csv('../../csv/sorting_MRA_202101-202111+seq+O.csv')
# compare_csv = compare_csv[compare_csv['ManufacturerModelName']=='Skyra']
compare_csv = compare_csv[['PatientID', 'AccessionNumber']]
# compare_csv

In [6]:
raw_csv = pd.read_csv('../../csv/350~nihssmrs.csv')
raw_csv = raw_csv[raw_csv['3T MRI']!=0]
raw_csv = raw_csv[raw_csv['3T MRI']!=1.0]
# raw_csv

In [8]:
new_name_csv = []
for o, (i,j) in enumerate(zip(raw_csv['ID'], raw_csv['病歷號碼'])):
    # print([o,i,j])
    for x,y in zip(compare_csv['PatientID'], compare_csv['AccessionNumber']):
            if int(j)==int(x):
                # print(int(j), int(x))
                new_name_csv.append([i, '-', int(j), int(x), y])
pd_new_name = pd.DataFrame(new_name_csv, columns=['ID', '1.5T&3.0T MRI','raw_patient_id', 'compare_patient_id', 'AccessionNumber'])
pd_new_name

         ID 1.5T&3.0T MRI  raw_patient_id  compare_patient_id AccessionNumber
0    is0351             -         4295587             4295587    211C20610X01
1    is0352             -         4099796             4099796    211J20683X01
2    is0353             -         4608025             4608025    211K20677X01
3    is0354             -         4635034             4635034    211L20285X01
4    is0355             -         4395827             4395827    211M20171X01
..      ...           ...             ...                 ...             ...
326  is0667             -         1195433             1195433    21BR20307X01
327  is0668             -         4114122             4114122    21BR20367X01
328  is0669             -         4131433             4131433    21BS20238X01
329  is0670             -         4048767             4048767    21B120103X01
330  is0671             -         7026165             7026165    21B520382X01

[331 rows x 5 columns]

In [4]:
pd_new_name.to_csv('../../csv/new_is0351-is0671.csv')